{% extends '::base.html.twig' %}

{% block title %}Inicio {% endblock %}
{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Designed by Alejandro Cabane -->
            <h3 style="color:Red">Backend del Sistema de gestión de Propiedades
            <p></p>
    </div>
{% endblock %}